/*
Theme Name: Franquicias 
Theme URI: #
Author: Junior Garcia
Author URI: https://www.jrdeveloper.com.ve/
Description: Tema diseñado por Estudio Tanque para la Franquicia Agustino Franquicias
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: 
Text Domain: franquicias

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/



.no-js {
	margin-top: 0 !important;
}



/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= 
   HEADER
   -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
   .header-wrapper {
   	width: 100%;
   	height: 120px;
   	position: fixed;
   	left: 0;
   	top: 0;
   	z-index: 9999;
   	background-color: transparent;
   	-webkit-transition: all 0.3s ease-out;
   	-moz-transition: all 0.3s ease-out;
   	transition: all 0.3s ease-out;
   }
   .header-wrapper .flex {
   	-webkit-justify-content: space-between;
   	-moz-justify-content: space-between;
   	justify-content: space-between;
   	-webkit-align-items: center;
   	-moz-align-items: center;
   	align-items: center;
   	height: 100%;
   	position: relative;
   }
   .header-wrapper .logo {
   	width: 100%;
   	height: auto;
   	max-width: 207px;
   }
   #header.stick {
   	height: 90px;
   	background-color: #29031b;
   }
   .admin-bar #header.stick {
   	top: 0;
   }
   .admin-bar .header-wrapper {
   	top: 0;
   }

   #navbar-header {
   	display: inline-block;
   	margin-top: 4%;
   }

   #navbar-header.stick {
   	display: inline-block;
   	margin-top: 1%;
   }

   #navbar-header.stick #primary-menu a  {
   	color: #fff !important;
   }

   #header.nav-down {
   	-webkit-transform: translateY(-100%);
   	-moz-transform: translateY(-100%);
   	transform: translateY(-100%);
   }
   #header.nav-up {
   	-webkit-transform: translateY(0);
   	-moz-transform: translateY(0);
   	transform: translateY(0);
   }


   #agustino_shop_img1_div,
   #hero,
   #movie_text,
   .social-icons,
   .social-icons i {
   	text-align: center;
   }

   .social-icons {
   	color: #313437;
   	background-color: #fff;
   	padding: 70px 0;
   }

   .wpcf7 .wpcf7-text,
   .wpcf7 .wpcf7-textarea {
   	text-indent: 30px;
   }
   .wpcf7 p {
   	position: relative;
   }
   .wpcf7 p .icon_form_contact {
   	position: absolute;
   	z-index: 100;
   	font-size: 18px;
   	top: 5px;
   	left: 5px;
   }

   .social-icons i {
   	font-size: 32px;
   	display: inline-block;
   	color: #757980;
   	margin: 0 10px;
   	width: 60px;
   	height: 60px;
   	border: 1px solid #c8ced7;
   	border-radius: 50%;
   	line-height: 60px;
   }

   #hero {
   	width: 100%;
   	background-position: center;
   	background-size: cover;
   	background-repeat: no-repeat;
   	height: 150vh;
   	background-image: url("img/Fondo-bienvenidos_2capas@2x.gif");
   }

   .navbar-dark .navbar-brand {
   	font-family: "Noto Sans", sans-serif;
   	color: #fff;
   	background-color: #b29a5d;
   	padding: 5px 20px 5px 10px;
   	font-size: 22px;
   	-webkit-transition: all 0.3s ease;
   	-moz-transition: all 0.3s ease;
   	transition: all 0.3s ease;
   }

   .navbar-dark .navbar-nav .nav-link {
   	color: #001d4d;
   	font-family: "Noto Sans", sans-serif;
   	font-weight: 700;
   	padding: 0 15px 0 14px;
   	font-size: 13px;
   	-webkit-transition: all 0.3s ease;
   	-moz-transition: all 0.3s ease;
   	transition: all 0.3s ease;
   }
   .navbar-dark .navbar-nav .nav-link:active,
   .navbar-dark .navbar-nav .nav-link:hover{
      color: #b29a5d;
   }

   .right-bar {
   	border: 2px solid #b29a5d;
   	border-width: 0 2px 0 0;
   }

   .social-nav-icon {
   	padding: 8px;
   	color: #fff;
   	font-size: 12px;
   	width: 30px;
   	text-align: center;
   	text-decoration: none;
   	border-radius: 50%;
   	background-color: #29031b;
   	margin-right: -20px;
   }

   .default_button,
   .primary_button {
   	padding: 2px 14px;
   	text-transform: uppercase;
   }

   .social-nav-icon-i {
   	color: #fff;
   	font-size: 12px;
   }


   .nav.navbar-nav.ml-auto.right-nav {
   	margin-right: 80px;
   }

   #hero-logo {
   	padding-top: 68vw;
   }


/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= 
   CAROUSEL
   -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

   #slide_2 {
      display: inherit;
   }

   #slide_2 a {
      height: 10px;
      text-decoration: none;
      margin-top:50px; 
   }

   #slide_2 > .slidesjs-container, #slide_2 > .slidesjs-container > .slidesjs-control{
      height: 500px !important;
   }
   /****************************************************************/

   .down_arrow_icon {
   	color: #001d4d;
   }

   #down-arrow-icon {
   	font-size: 62px;
   	color: #001d4d;
   }

   #navbar-toggle {
   	border: 0;
   }

   .h1_white {
   	color: #fff;
   }

   #navbar_brand:hover {
   	color: #001d4d;
   }

   .separator1 {
   	background-color: #b29a5d;
   	height: 2px;
   }

   .text_white {
   	color: #fff;
   }

   .text_primary {
   	color: #b29a5d;
   }

   .primary_button:hover {
   	background-color: #29031b;
   }

   .primary_button:active {
   	background-color: #b29a5d;
   }

   .primary_button:active {
   	background-color: #29031b;
   }

   .primary_button {
   	background-color: #b29a5d;
   	color: #fff;
   	border-radius: 0;
   	border: 0;
   	font-weight: bold;
   }

   #about_us_bottom_decoration {
   	margin-top: 19%;
   }

   #about_us_div_2 {
   	background-color: #fff;
   	width: 100%;
   	margin-top: 18%;
   	margin-bottom: -16%;
   	height: 50%;
   }

   #about_us_2 {
   	z-index: -1;
   	height: 1200px;
   }

   #slide_1 {
   	display: none;
   }

   .text-secondary,
   .text_secondary {
   	color: #001d4d;
   }

   .text_default {
   	color: #29031b;
   }

   .default_button:active,
   .default_button:hover {
   	background-color: #b29a5d;
   }

   .border_white {
   	border: 10px solid rgba(255, 255, 255, 0.8);
   }

   #movie_link {
   	width: 100px;
   	border: 3px solid #b29a5d;
   	border-radius: 100%;
   	height: 100px;
   }

   #movie_play_icon {
   	font-size: 40px;
   	margin-left: 5px;
   }

   #movie_play_icon:hover {
   	color: #29031b;
   	cursor: pointer;
   }

   #agustino_shop_img1_col {
   	transform: translateY(-150px);
   }

   .margin_left_text {
   	margin-left: 12%;
   }

   .text_block {
   	margin-top: 4%;
   }

   .li_margin {
   	margin-bottom: 3%;
   }

   .down_arrow_icon:hover {
   	cursor: pointer;
   }

   .default_button {
   	background-color: #29031b;
   	color: #fff;
   	border-radius: 0;
   	border: 0;
   	font-weight: bold;
   }

   #about_us_img {
   	position: absolute;
   	transform: translate(-20px, -124px);
   	z-index: 2;
   }

   #down_arrow_icon {
   	font-size: 2.5em;
   }

   #down_arrow_icon2 {
   	font-size: 40px;
   }

   #agustino_shop_2_text_heading {
   	margin: 0;
   }

   /**Contact Form **/
   .wpcf7-form {
   	text-align: center;
   }

   #agustino_shop_img2 {
   	z-index: 2;
   	min-width: 30vw;
   }

   .list {
   	color: #555;
   }

   .none_margin {
   	margin: 0;
   }

   .top_list_text {
   	padding-left: 25px;
   	text-align: justify;
   }

   .secondary_color_block {
   	background-color: #29031b;
   }

   #agustino_local_decoration {
   	position: absolute;
   	margin-right: 80px;
   	margin-left: 80px;
   }

   #local_right_column {
   	z-index: 3 !important;
   }


   .text_paragraph_sm {
   	font-size: 13px;
   }

   .text_paragraph_xs {
   	font-size: 12px;
   }

   .none_padding {
   	padding: 0;
   }

   .col_location_info {
   	height: 60%;
   }

   .arrow_right_md {
   	font-size: 15px;
   }

   .arrow_right_xs {
   	font-size: 12px;
   }

   #contact {
   	margin-top: -16%;
   }

   #contact_div_img {
   	width: 100%;
   }

   #video_div_img{
   	width: 100%;
   }

   .text_black {
   	color: #555;
   }


   .heading_secondary_2 {
   	font-weight: bold;
   }


   .border_top_primary {
   	border-top: 2px solid #b29a5d;
   }

   .contact_form_column {
   	margin-left: 5%;
   	margin-right: 5%;
   }

   .icon_form_contact {
   	font-weight: 700 !important;
   }

   #footer_div {
   	max-width: 100%;
   	margin-top: 1%;
   	padding-top: 3%;
   	padding-left: 0;
   	padding-right: 0;
   }

   .footer_row{
   	width: 100%;
   }

   #footer {
   	background-color: #fff;
   }

   #to-fixed-top {
   	cursor: pointer;
   	height: 60px;
   	width: 60px;
   	position: fixed;
   	right: 25px;
   	bottom: 25px;
   	z-index: 100;
   	display: inline-block;
   	top: auto;
   	line-height: 60px;
   	text-align: center;
   	-webkit-transition: all 0.3s ease-out;
   	-moz-transition: all 0.3s ease-out;
   	transition: all 0.3s ease-out;
   	opacity: 0;
   }
   #to-fixed-top.stick {
   	opacity: 1;
   }

   .social_icon_footer, .social-nav-icon {
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
   }

   .social_icon_footer:hover,.social-nav-icon:hover {
     background-color: #b29a5d !important;
  }


  .btn-up-page{
     color: #fff;
     text-align: center;
  }

  .btn-up-page{
     font-size: 30px;
     background-color: #b29a5d;
     width: 60px !important;
     height: 100%;
     text-align: center;
  }


  .btn-up-page > a > i {
     color: #fff;
  }

  #footer_bottom {
     background-color: #29031b;
     height: 60px;
  }



  .list-inline {
     text-align: center;
  }

  .slide_1_btn {
     margin-bottom: 5px;
     margin-left: 5px;
     display: inline-block;
  }

  /* Extra small devices */
/*******************************************
 *               320PX-479PX               *
 *                                         *
 * *****************************************
 */

 @media only screen and (min-width: 320px) and (max-width: 479px) {
 	.navbar.navbar-dark.navbar-expand-md.navbar {
 		width: 100vw;
 		margin-left: -4vw;
 	}

 	#hero {
 		height: 220vw;
 		background-image: url(img/Fondo-bienvenidos_2capas.gif);
 	}

 	#logo {
 		width: 76vw;
 	}

 	#row-arrow {
 		margin-top: 30%;
 	}

 	#about_us_img {
 		position: absolute;
 		transform: translate(-7px, -120px);
 		z-index: 1;
 	}

 	#navbar_brand {
 		width: 40vw;
 		font-size: 4vw;
 		font-weight: normal;
 	}

 	#toggle {
 		color: #29031b;
 		font-size: 30px;
 	}

 	.heading_primary {
 		font-size: 8vw;
 		margin: 0;
 		font-weight: bold;
 	}

 	.block_primary_text {
 		position: absolute;
 		align-items: center;
 		width: 78%;
 		margin-left: 10%;
 		margin-top: 6%;
 		z-index: 3;
 	}

 	.top_primary_text {
 		text-transform: uppercase;
 		font-weight: 700;
 		font-size: 10px;
 		margin: 0;
 		width: 66%;
 	}

 	.paragraph_text_white {
 		font-size: 2.8vw;
 		margin-top: 25px;
 		width: 88%;
 	}

 	#about_us_button {
 		font-size: 3vw;
 	}

 	#agustino_shop_img1_col {
 		margin-top: 26vw;
 		min-width: 50%;
 	}

 	#about_us_separator {
 		margin: 5px -24px;
 		width: 76px;
 		height: 1px;
 	}
 	#movie_link {
 		width: 20vw;
 		height: 20vw;
 	}
 	#movie_play_icon {
 		font-size: 8vw;
 	}
 	#about_us_2_decoration {
 		background: 0 0;
 		transform: translateY(66vw);
 		z-index: 1;
 	}

 	#slide_1 {
 		width: 100%;
 		z-index: 1;
 		transform: translateY(-16vw);
 		text-align: center;
 	}

 	#slide_1 > div {
 		height: 109vw !important;
 	}

 	.separator_margin {
 		margin-left: 0;
 		width: 24vw;
 		height: 1px;
 		transform: translateX(-20px);
 	}

 	#location {
 		margin-top: 15%;
 	}

 	#about_us_div {
 		height: 78vw;
 		position: relative;
 		display: inline-block;
 		width: 100%;
 	}

 	#about_us_2_text {
 		margin-left: 11vw;
 		width: 80vw;
 	}

 	#about_2_img_col {
 		float: left;
 	}

 	.default_button {
 		font-size: 3vw;
 		padding: 5px 10px;
 	}

 	#contact_form_div {
 		height: 320px;
 		position: absolute;
 		width: 74%;
 		margin-left: auto;
 		margin-right: auto;
 		left: 0;
 		right: 0;
 	}

 	#video_div {
 		border: 3px solid #b29a5d;
 		height: 104vw;
 		position: absolute;
 		width: 90%;
 	}

 	.border_white {
 		border: 6px solid rgba(255, 255, 255, 0.8);
 	}

 	#movie_bkg_img {
 		width: 100%;
 		display: none;
 	}

 	.heading_secondary {
 		font-size: 8vw;
 		font-weight: 700;
 	}

 	.heading_secondary_2 {
 		font-size: 6vw;
 	}

 	#agustino_shop_1_text_heading {
 		width: 200px;
 	}

 	#contact_right_text_div {
 		margin-left: -15vw;
 		width: 72vw;
 	}

 	#agustino_shop_1_text {
 		transform: translateY(-10vw);
 		margin-left: 12vw;
 		width: 80vw;
 	}

 	.text_secondary_title {
 		text-transform: uppercase;
 		font-weight: 700;
 		font-size: 3vw;
 		margin: 0;
 	}

 	.paragraph_text {
 		font-size: 3vw;
 		color: #555;
 		padding-bottom: 20px;
 		width: 90%;
 	}

 	.left_decorator {
 		border-left: 1px solid #b29a5d;
 	}

 	#movie_div {
 		width: 100%;
 		margin-top: 30%;
 	}

 	#about_us_2_decoration2 {
 		background: 0;
 		margin-left: 89px;
 		border: 2px solid #b29a5d;
 		width: 36px;
 		height: 300px;
 		z-index: 2;
 		transform: translate(15px, -277px);
 	}

 	#agustino_row_2 {
 		margin-top: -135px;
 	}

 	.block_img_md_right {
 		z-index: -1;
 		display: none;
 	}

 	#agustino_local_img {
 		transform: translateY(10%);
 		text-align: center;
 	}

 	.text_block_with_list {
 		margin-left: 10vw;
 		margin-top: 10vw;
 		width: 70vw;
 	}

 	.wpcf7-form {
 		height: 300px;
 	}

 	.wpcf7-form > p {
 		margin-bottom: 5px;
 	}

 	.slide_1_img {
 		width: 80% !important ;
 		margin-left: 10%;
 	}

 	#col_about_us_text {
 		z-index: 3;
 	}

 	#movie_bkg_img_mobile {
 		display: block;
 		/*width: 100%;*/
 		height: 80%;
 	}

 	#agustino_shop_img1 {
 		width: 90%;
 	}

 	#agustino_img2_middle {
 		transform: translateY(calc(-380% + 2vw));
 		width: 60vw;
 	}

 	.square_decoration {
 		margin-left: 0px !important;
 		margin-right: 0px !important;
 		border: 1px solid #b29a5d;
 		height: 22vw;
 	}

 	#location_div {
 		height: calc(75vw*2);
 		position: relative;
 		display: inline-block;
 		width: 100%;
 	}

 	#location_block_text {
 		top: 25vw;
 		width: 75vw;
 	}

 	#location_right_square {
      width: 62vw !important;
      height: 195px;
      padding-top: 11px;
      padding-left: 12px;
   }

   #header.stick {
    height: 65px;
    background-color: #29031b;
 }

 .arrow_location {
   font-size: 30px;
}

#location_decoration {
   position: absolute;
   z-index: -1;
   right: 5%;
   left: 5%;
   height: 110%;
   top: -5%;
}

#locale {
   transform: translateY(-6%);
}

#contact_right_heading {
   font-size: 6vw !important;
   font-weight: bold;
}

.text_contact {
   font-weight: 700;
   font-size: 3vw;
}

#contact_form {
   background-color: rgba(255, 255, 255, 0.8);
   height: 110% !important;
   padding-top: 5%;
}

.input_contact {
   background-color: transparent;
   width: 90%;
   border: 0;
   font-size: 3vw;
}

.border_bottom_primary {
   border-bottom: 1px solid #b29a5d;
}

#contact_form_submit {
   font-size: 3vw;
   font-weight: bold;
   padding-left: 7vw;
   padding-right: 7vw;
   height: 7vw;
   margin-top: 2%;
}

#footer_bottom {
   background-color: #29031b;
   height: 50px;
   width: 100%;
}

#left_bottom_footer {
   display: none;
   width: 5%;
   transform: translateX(80%);
}

#right_bottom_footer {
   display: none;
   width: 5%;
   transform: translateX(-80%);
}

#logo_footer {
   height: 20px;
   margin: 5px;
}

.footer_item_list > a {
   font-size: 11px;
   text-transform: uppercase;
   color: #001d4d;
   font-weight: 700;
   padding-right: 12px;
}

.social_icon_footer {
   background-color: #001d4d !important;
   border-radius: 100%;
   width: 25px;
   height: 25px;
   padding-top: 0px;
}

#copyright {
   font-size: 10px;
   text-align: center;
}

#text_area_form {
   max-height: 35px;
   min-height: 30px;
}

#agustino_row_2 > div.col.pt-lg-3.col-lg-7.col-md-7 > div > div > ul > li ,
#local > div > div > div.col-12.col-lg-7.col-md-7 > div > div.margin_left_text.text_block > ul > li {
   font-size: 3vw;
   margin-bottom: 10px;
}

#left_bottom_footer > hr{
   height: 1px;
}

#right_bottom_footer > hr {
   height: 1px;
}

#local_img {
   width: 85%;
}

#contact_form_col {
   margin-top: 10px;
}

#contact_form_col_right {
   margin-left: 20vw;
}

#localtions_slide {
   margin-top: 68%;
}

.location_slide_title {
   font-size: 4.5vw;
   font-weight: bold;
}

.location_slide_content{
   margin-left: 10vw;
   width: 45vw;
}

#contact_left_info {
   width: 240px;
   padding-left: 15px !important;
}

#slide_1_btn_div {
   right: 38%;
   top: 84%;
   position: absolute;
}

#copyright_container{
   width:98%;     
   height:40px;
   padding-left: 0%
}
}



/* Medium devices */
/*******************************************
 *              480px - 767PX              *
 *                                         *
 * *****************************************
 */
 @media only screen and (min-width: 480px) and (max-width: 767px){
 	.navbar.navbar-dark.navbar-expand-md.navbar {
 		width: 88vw;
 		margin-left: -7vw;
 	}

 	#hero {
 		height: 220vw;
 		background-image: url(img/Fondo-bienvenidos_2capas.gif);
 	}

 	#logo {
 		width: 76vw;
 	}

 	#row-arrow {
 		margin-top: 30%;
 	}

 	#about_us_img {
 		position: absolute;
 		transform: translate(-7px, -120px);
 		z-index: 1;
 	}

 	#navbar_brand {
 		width: 40vw;
 		font-size: 4vw;
 		font-weight: normal;
 	}

 	#toggle {
 		color: #29031b;
 		font-size: 30px;
 	}

 	.heading_primary {
 		font-size: 8vw;
 		margin: 0;
 		font-weight: bold;
 	}

 	.block_primary_text {
 		position: absolute;
 		align-items: center;
 		width: 78%;
 		margin-left: 10%;
 		margin-top: 6%;
 		z-index: 3;
 	}

 	.top_primary_text {
 		text-transform: uppercase;
 		font-weight: 700;
 		font-size: 10px;
 		margin: 0;
 		width: 66%;
 	}

 	.paragraph_text_white {
 		font-size: 2.8vw;
 		margin-top: 25px;
 		width: 88%;
 	}

 	#about_us_button {
 		font-size: 3vw;
 	}

 	#agustino_shop_img1_col {
 		margin-top: 26vw;
 		min-width: 50%;
 	}

 	#about_us_separator {
 		margin: 5px -24px;
 		width: 76px;
 		height: 1px;
 	}
 	#movie_link {
 		width: 20vw;
 		height: 20vw;
 	}
 	#movie_play_icon {
 		font-size: 8vw;
 	}
 	#about_us_2_decoration {
 		background: 0 0;
 		transform: translateY(66vw);
 		z-index: 1;
 	}

 	#slide_1 {
 		width: 100%;
 		z-index: 1;
 		transform: translateY(-16vw);
 		text-align: center;
 	}

 	#slide_1 > div {
 		height: 650px!important;
 	}

 	.separator_margin {
 		margin-left: 0;
 		width: 24vw;
 		height: 1px;
 		transform: translateX(-20px);
 	}

 	#location {
 		margin-top: 15%;
 	}

 	#about_us_div {
 		height: 78vw;
 		position: relative;
 		display: inline-block;
 		width: 100%;
 	}

 	#about_us_2_text {
 		margin-left: 35px;
 		width: 80vw;
 	}

 	#about_2_img_col {
 		float: left;
 	}

 	.default_button {
 		font-size: 3vw;
 		padding: 5px 10px;
 	}

 	#contact_form_div {
 		height: 320px;
 		position: absolute;
 		width: 74%;
 		margin-left: auto;
 		margin-right: auto;
 		left: 0;
 		right: 0;
 	}

 	#video_div {
 		border: 3px solid #b29a5d;
 		height: 125vw;
 		position: absolute;
 		width: 90%;
 	}

 	.border_white {
 		border: 6px solid rgba(255, 255, 255, 0.8);
 	}

 	#movie_bkg_img {
 		width: 100%;
 		display: none;
 	}

 	.heading_secondary {
 		font-size: 8vw;
 		font-weight: 700;
 	}

 	.heading_secondary_2 {
 		font-size: 6vw;
 	}

 	#agustino_shop_1_text_heading {
 		width: 56vw;
 	}

 	#contact_right_text_div {
 		width: 72vw;
 	}

 	#agustino_shop_1_text {
 		transform: translateY(-10vw);
 		margin-left: 35px;
 		width: 80vw;
 	}

 	.text_secondary_title {
 		text-transform: uppercase;
 		font-weight: 700;
 		font-size: 3vw;
 		margin: 0;
 	}

 	.paragraph_text {
 		font-size: 3vw;
 		color: #555;
 		padding-bottom: 20px;
 		width: 90%;
 	}

 	.left_decorator {
 		border-left: 1px solid #b29a5d;
 	}

 	#movie_div {
 		width: 100%;
 		margin-top: 30%;
 	}

 	#about_us_2_decoration2 {
 		background: 0;
 		margin-left: 89px;
 		border: 2px solid #b29a5d;
 		width: 36px;
 		height: 300px;
 		z-index: 2;
 		transform: translate(15px, -277px);
 	}

 	#agustino_row_2 {
 		margin-top: -135px;
 	}

 	.block_img_md_right {
 		z-index: -1;
 		display: none;
 	}

 	#agustino_local_img {
 		transform: translateY(10%);
 		text-align: center;
 	}

 	.text_block_with_list {
 		margin-left: 10vw;
 		margin-top: 10vw;
 		width: 70vw;
 	}

 	.wpcf7-form {
 		height: 300px;
 	}

 	.wpcf7-form > p {
 		margin-bottom: 5px;
 	}

 	.slide_1_img {
 		width: 80% !important ;
 		margin-left: 10%;
 	}

 	#col_about_us_text {
 		z-index: 3;
 	}

 	#movie_bkg_img_mobile {
 		display: block;
 		height: 100%;
 		width: 100%;
 	}

 	#agustino_shop_img1 {
 		width: 90%;
 	}

 	#agustino_img2_middle {
 		transform: translateY(calc(-380% + 12vw));
 		width: 60vw;
 	}

 	.square_decoration {
 		margin-left: 0px !important;
 		margin-right: 0px !important;
 		border: 1px solid #b29a5d;
 		height: 22vw;
 	}

 	#location_div {
 		height: calc(75vw*2);
 		position: relative;
 		display: inline-block;
 		width: 100%;
 	}

 	#location_block_text {
 		top: 25vw;
 		width: 75vw;
 	}

 	#location_right_square {
 		height: 195px;
 		padding-top: 11px;
 		padding-left: 12px;
 	}

 	.arrow_location {
 		font-size: 30px;
 	}

 	#location_decoration {
 		position: absolute;
 		z-index: -1;
 		right: 5%;
 		left: 5%;
 		height: 110%;
 		top: -5%;
 	}

 	#locale {
 		transform: translateY(-6%);
 	}

 	#contact_right_heading {
 		font-size: 6vw !important;
 		font-weight: bold;
 	}

 	.text_contact {
 		font-weight: 700;
 		font-size: 3vw;
 	}

 	#contact_form {
 		background-color: rgba(255, 255, 255, 0.8);
 		height: 70vw !important;
 		padding-top: 5%;
 	}

 	.input_contact {
 		background-color: transparent;
 		width: 90%;
 		border: 0;
 		font-size: 3vw;
 	}

 	.border_bottom_primary {
 		border-bottom: 1px solid #b29a5d;
 	}

 	#contact_form_submit {
 		font-size: 3vw;
 		font-weight: bold;
 		padding-left: 7vw;
 		padding-right: 7vw;
 		height: 7vw;
 		margin-top: 2%;
 	}

 	#footer_bottom {
 		background-color: #29031b;
 		height: 50px;
 		width: 100%;
 	}

 	#left_bottom_footer {
 		display: block;
 		width: 5%;
 		transform: translateX(80%);
 	}

 	#right_bottom_footer {
 		display: block;
 		width: 5%;
 		transform: translateX(-80%);
 	}

 	#logo_footer {
 		height: 35px;
 		margin: 5px;
 	}

 	.footer_item_list > a {
 		font-size: 14px;
 		text-transform: uppercase;
 		color: #001d4d;
 		font-weight: 700;
 		padding-right: 12px;
 	}

 	.social_icon_footer {
 		background-color: #001d4d !important;
 		border-radius: 100%;
 		width: 25px;
 		height: 25px;
 		padding-top: 0px;
 	}

 	#copyright {
 		font-size: 11px;
 		text-align: center;
 	}

 	#copyright_container {
 		width: 95%;
 	}

 	#text_area_form {
 		max-height: 35px;
 		min-height: 30px;
 	}

 	#agustino_row_2 > div.col.pt-lg-3.col-lg-7.col-md-7 > div > div > ul > li ,
 	#local > div > div > div.col-12.col-lg-7.col-md-7 > div > div.margin_left_text.text_block > ul > li {
 		font-size: 3vw;
 		margin-bottom: 10px;
 	}

 	#left_bottom_footer > hr{
 		height: 1px;
 	}

 	#right_bottom_footer > hr {
 		height: 1px;
 	}

 	#local_img {
 		width: 85%;
 	}

 	#contact_form_col {
 		margin-top: 10px;
 	}

 	#contact_form_col_right {
 		margin-left: 7vw;
 	}

 	#localtions_slide {
 		margin-top: 68%;
 	}

 	.location_slide_title {
 		font-size: 4.5vw;
 		font-weight: bold;
 	}

 	.location_slide_content{
 		margin-left: 10vw;
 		width: 45vw;
 	}

 	#contact_left_info {
 		width: 240px;
 		padding-left: 15px !important;
 	}

 	#slide_1_btn_div {
 		right: 38%;
 		top: 84%;
 		position: absolute;
 	}
 }





 /* Medium devices (landscape tablets) */
/*******************************************
 *               768PX - 950PX             *
 *                                         *
 * *****************************************
 */
 @media screen and (min-width: 768px) and (max-width: 950px) {

 	.navbar.navbar-dark.navbar-expand-md.navbar {
 		width: 100%;
 	}

 	.navbar-dark .navbar-nav .nav-link {
 		padding: 0 6px 0 14px;
 		font-size: 0.7em;
 	}
 	.block_primary_text {
 		width: 42%;
 		margin-left: 42%;
 		position: absolute;
 		align-items: center;
 		margin-top: 3%;
 		z-index: 3;
 	}

 	.heading_primary {
 		font-size: 25px;
 		font-weight: bold;
 		margin: 0;
 	}

 	.top_primary_text {
 		text-transform: uppercase;
 		font-weight: 700;
 		font-size: 8px;
 		margin: 0;
 	}

 	.paragraph_text_white {
 		font-size: 9px ;
 		margin-top: 10px;
 		width: 97% ;
 	}

 	#about_us_separator {
 		margin: 7px -27px;
 		width: 80px;
 	}

 	.separator1 {
 		background-color: #b29a5d;
 		height: 1px;
 	}

 	#about_us_button {
 		font-size: 10px;
 	}

 	#hero {
 		height: 796px;
 		background-image: url(img/Fondo-bienvenidos_2capas@2x.gif);
 	}

 	.nav.navbar-nav.ml-auto.right-nav {
 		margin-right: 0;
 	}

 	#hero-logo {
 		padding-top: 40%;
 	}

 	#logo {
 		width: 50%;
 	}

 	#down_arrow_icon {
 		font-size: 2.5em;
 	}

 	#row-arrow {
 		margin-top: 5%;
 	}

 	#navbar_brand {
 		width: 19%;
 		font-size: 0.8em;
 	}

 	#movie_bkg_img_mobile {
 		display: none;
 	}

 	#agustino_img2_middle {
 		display: none;
 	}


 	#contact_form_col_right {
 		margin-left: 0px;
 	}

 	#agustino_shop_div1 {
 		margin-top: 100px;
 	}

 	#agustino_shop_img1_col {
 		margin-top: 0px;
 	}

 	.social-icons {
 		padding: 50px 0;
 	}

 	#contact_right_text_div {
 		margin-left: 0px;
 		margin-top: 33px;
 	}

 	#about_us_div {
 		height: 26vw;
 	}

 	#about_us_img {
 		z-index: 3;
 		width: 60%;
 		transform: translate(-15px, -60px);
 	}

 	#col_about_us_text {
 		z-index: 1;
 		right: 10%;
 	}

 	#about_us_2_decoration {
 		transform: translateY(23vw);
 	}

 	#agustino_shop_2_img {
 		transform: translateY(0px);
 	}

 	#about_us_2_text {
 		margin-left: 16%;
 		width: 34vw;
 	}

 	#movie_bkg_img {
 		display: block;
 	}

 	#movie_div {
 		margin-top: 8%;
 	}

 	#video_div {
 		height: 335px;
 	}

 	.block_img_md_right {
 		display: block;
 	}

 	.slide_1_img {
 		width: 100% !important;
 	}

 	#slide_1 > div {
 		height: 356px!important;
 	}

 	#slide_1 {
 		width: 60%;
 		z-index: 2;
 		transform: translateY(-8vw);
 		text-align: center;
 		margin-left: 10%;
 	}
 	.text_secondary_title {
 		text-transform: uppercase;
 		font-weight: 700;
 		font-size: 8px;
 		margin: 0;
 	}

 	.heading_secondary {
 		font-size: 28px !important;
 		font-weight: 700;
 	}

 	.paragraph_text {
 		font-size: 10px;
 		color: #555;
 		padding-bottom: 20px;
 		width: 100% !important;
 	}

 	.default_button {
 		font-size: 10px !important;
 	}

 	#video_div {
 		border: 3px solid #b29a5d;
 		height: 286px;
 		position: absolute;
 		width: 74%;
 		margin-left: auto;
 		margin-right: auto;
 		left: 0;
 		right: 0;
 	}

 	#movie_bkg_img {
 		width: 100%;
 		display: block;
 	}

 	#movie_link {
 		width: 60px;
 		height: 60px;
 	}
 	#movie_play_icon {
 		font-size: 25px;
 	}

 	#agustino_row_1{
 		height: 32vw;
 	}

 	#agustino_shop_img1_col {
 		transform: translateY(-130px);
 		margin-left: 3%;
 	}

 	#agustino_shop_img1 {
 		width: 85%;
 	}

 	#agustino_shop_1_text {
 		margin-left: 25%;
 		width: 80%;
 		margin-top: -18%;
 	}

 	.heading_secondary_2 {
 		font-weight: bold;
 		font-size: 28px;
 	}

 	.left_decorator {
 		border-left: 1px solid #b29a5d;
 		width: 100%;
 	}

 	#agustino_row_2 > div.col.pt-lg-3.col-lg-7.col-md-7 > div > div > ul > li,
 	#local > div > div > div.col-12.col-lg-7.col-md-7 > div > div.margin_left_text.text_block > ul > li {
 		font-size: 11px !important;
 		margin-bottom: 12px !important;
 	}

 	#location_div {
 		height: 280px;
 		position: relative;
 		display: inline-block;
 		width: 100%;
 	}


 	#location_decoration {
 		position: absolute;
 		z-index: -1;
 		right: 5%;
 		left: 5%;
 		height: 110%;
 		top: -5%;
 	}

 	.square_decoration {
 		margin-left: 0px !important;
 		margin-right: 0px !important;
 		border: 1px solid #b29a5d;
 		height: 18vw;
 	}
 	#location_right_square{
     width: 608px !important;
     height: 24vw;
  }

  #location_block_text {
   width: 75%;
   left: -10%;
}


#local_img {
   width: 100%;
}

#locale {
   transform: translateY(6%);
}

#localtions_slide {
   margin-top: 25px;
}

#location_div {
   height: 255px;
}

#location_block_text {
   top: 10%;
}

.location_slide_title {
   font-size: 15px;
   font-weight: 600;
   padding-top: 14px;
}

#contact_div {
   width: 100%;
   margin-top: 90px;
}

#contact_form_div {
   height: 455px;
   position: absolute;
   width: 74%;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
}

#contact_right_heading {
   font-size: 28px ;
   width: 100% ;
   font-weight: bold;
}

.text_contact {
   font-size: 10px;
   font-weight: bold;
}

#contact_form {
   background-color: rgba(255, 255, 255, 0.8);
   height: 100%;
   padding-top: 5%;
}

.input_contact {
   background-color: transparent;
   width: 100%;
   border: 0;
   font-size: 10px;
}
#contact_form_col_right {
   margin-top: 10%;
   height:70%;
}

#contact_right_text_div {
   margin-top: 15%;
   width: 255px;
}

.separator_margin {
   margin-right: 70%;
   width: 100px !important;
   transform: translateX(-30px);
}

#contact_form_col {
   margin-top: 10px;
}

.wpcf7 .wpcf7-textarea{
   height: 30px;
}

.border_bottom_primary {
   border-bottom: 1px solid #b29a5d;
}

#contact_form_submit {
   font-weight: 700;
   padding-left: 25px;
   padding-right: 25px;
   height: 25px;
   margin-top: 4%;
}

#logo_footer {
   height: 28px;
   margin: 5px;
}


.footer_item_list > a {
   font-size: 10px !important;
   text-transform: uppercase;
   color: #001d4d;
   padding-left: 20px;
   font-weight: 700;
   padding-right: 20px;
}

#header.stick {
 height: 58px;
 background-color: #29031b;
}

.social_icon_footer {
   background-color: #001d4d !important;
   border-radius: 100%;
   width: 20px;
   height: 20px;
   padding-top: 2px;
   font-size: 10px;
}

#copyright {
   font-size: 10px;
   width: 90%;
}

#copyright_container{
   width:98%;     
   padding-left: 4%
}

#left_bottom_footer {
   display: block;
   width: 5%;
}

#right_bottom_footer {
   display: block;
   width: 5%;
}

}



/* Extra large devices (large laptops and desktops, 1200px and up) */
/*******************************************
 *               951PX-1199PX              *
 *                                         *
 * *****************************************
 */
 @media screen and (min-width: 951px) and (max-width: 1199px) {
 	.navbar.navbar-dark.navbar-expand-md.navbar {
 		width: 80vw;
 	}

 	#main-nav{
 		margin-right: 8vw;
 	}

 	#hero {
 		height: 976px;
 		background-image: url(img/Fondo-bienvenidos_2capas@2x.gif);
 	}

 	#hero-logo {
 		padding-top: 26%;
 	}

 	#navbar_brand {
 		width: 212px;
 		font-size: 22px ;
 		padding-top: 10px;
 		padding-bottom: 10px;
 	}

 	.block_primary_text {
 		position: absolute;
 		width: 45%;
 		z-index: 3;
 		left: 49.5vw;
 		top: 22%;
 	}

 	#about_us_img {
 		width: 60%;
 		transform: translate(-15px, -10%);
 	}

 	#agustino_img2_middle {
 		display: block;
 	}

 	.left_decorator {
 		border-left: 2px solid #b29a5d;
 		width: 100%;
 	}

 	.paragraph_text {
 		font-size: 10px;
 		color: #555;
 		padding-bottom: 20px;
 		width: 100% !important;
 	}

 	.top_primary_text {
 		text-transform: uppercase;
 		font-weight: 700;
 		font-size: 12px;
 		margin: 0;
 	}

 	.paragraph_text_white {
 		font-size: 10px;
 		margin-top: 25px;
 		width: 97%;
 	}

 	#row-arrow {
 		margin-top: 5%;
 	}

 	.para {
 		font-size: 12px;
 		margin-top: 10px;
 		width: 88%;
 		text-align: justify;
 	}

 	#logo {
 		width: 500px;
 	}

 	#about_us_div {
 		height: 290px;
 		position: relative;
 		display: inline-block;
 		width: 100%;
 	}

 	#about_us_button {
 		font-size: 12px;
 		margin-left: 2%;
 		margin-top: 3%;
 	}

 	#agustino_shop_div1 {
 		margin-top: 100px;
 	}

 	#agustino_shop_2_img {
 		transform: translateY(-120px);
 	}

 	#slide_1 > div {
 		height: 555px !important;
 	}

 	#slide_1 {
 		width: 356px;
 		z-index: 2;
 		transform: translateY(-20px);
 	}
 	#about_us_separator {
 		margin: 7px -50px;
 		width: 130px;
 	}

 	#about_us_2_decoration {
 		background: 0 0;
 		transform: translateY(26vw);
 		z-index: 1;
 		margin-right: 10px;
 		margin-left: 10px;
 	}


 	.separator_margin {
 		margin-right: 70%;
 		width: 118px !important;
 		transform: translateX(-61px);
 	}

 	#about_us_2_text {
 		margin-left: 15%;
 		width: 360px;
 	}

 	#about_2_img_col {
 		transform: translateY(-15%);
 		left: 60%;
 		z-index: 2;
 	}
 	.default_button {
 		font-size: 12px !important;
 	}

 	.heading_secondary_2 {
 		font-size: 30px;
 	}

 	#contact_form_div {
 		height: 455px;
 		position: absolute;
 		width: 74%;
 		margin-left: auto;
 		margin-right: auto;
 		left: 0;
 		right: 0;
 	}

 	#video_div {
 		border: 3px solid #b29a5d;
 		height: 455px;
 		position: absolute;
 		width: 74%;
 		margin-left: auto;
 		margin-right: auto;
 		left: 0;
 		right: 0;
 	}

 	#movie_bkg_img {
 		width: 100%;
 		display: block;
 	}

 	.heading_secondary {
 		font-size: 35px !important;
 		font-weight: 700;
 	}

 	#agustino_shop_1_text_heading {
 		width: 60% !important;
 	}

 	#contact_right_text_div {
 		margin-top: 15%;
 		margin-left: 90px;
 		width: 360px;
 	}

 	#agustino_shop_1_text {
 		margin-left: 20%;
 		margin-top: -10%;
 		width: 80%;
 	}

 	.text_secondary_title {
 		text-transform: uppercase;
 		font-weight: 700;
 		font-size: 13px;
 		margin: 0;
 	}

 	#agustino_local_img {
 		transform: translateY(-12%);
 		text-align: center;
 	}
 	.wpcf7-form {
 		height: 520px;
 	}
 	.wpcf7-form > p {
 		margin-bottom: 15px;
 	}

 	.text_block_with_list {
 		margin-left: 100px;
 		margin-top: -55px;
 		width: 430px;
 	}

 	#movie_div {
 		width: 100%;
 		margin-top: 30px;
 	}

 	#video_div_img{
 		min-width: 100%;
 	}

 	#about_us_2_text > p.paragraph_text{
 		margin-left: 21%;
 		transform: translateY(-35%);
 	}

 	#about_us_2_decoration2 {
 		background: 0 0;
 		margin-left: 60px;
 		border: 2px solid #b29a5d;
 		width: 75px;
 		height: 327px;
 		z-index: 2;
 		transform: translate(20px, -276px);
 	}

 	#agustino_row_2 {
 		margin-top: -24px;
 	}

 	.block_img_md_right {
 		z-index: -1;
 		display: block !important;
 	}

 	#contact_button {
 		font-size: 16px;
 	}

 	#col_about_us_text {
 		z-index: 1;
 		right: 40%;
 	}

 	.slide_1_img {
 		width: 100% !important;
 		margin-left: 0;
 	}

 	#movie_bkg_img_mobile {
 		display: none;
 	}

 	#agustino_shop_img1 {
 		width: 95%;
 	}

 	#agustino_img2_middle {
 		transform: translateY(0px);
 		margin-top: -300px;
 		width: 290px;
 	}

 	.square_decoration {
 		border: 2px solid #b29a5d ;
 		height: 14vw ;
 	}

 	#location_div {
 		height: 350px;
 		position: relative;
 		display: inline-block;
 		width: 100%;
 	}

 	.heading_primary {
 		font-size: 40px;
 		font-weight: bold;
 		margin: 0;
 	}

 	#location_block_text {
 		left: 26%;
 		width: 75%;
 	}

 	#location_right_square {
      width: 350px !important;
      height: 150px !important;
      padding-top: 20px;
      padding-left: 30px;
   }

   .arrow_location {
      font-size: 50px;
   }

   #location_decoration {
      position: absolute;
      z-index: -1;
      right: 5%;
      left: 5%;
      height: 114%;
      top: -5%;
   }

   .square_decoration {
      margin-left: 0px !important;
      margin-right: 0px !important;
      border: 1px solid #b29a5d;
      height: 18vw;
   }

   #location_right_square{
      height: 24vw;
   }

   #locale {
      transform: translateY(-30%);
   }

   #contact_div {
      width: 100%;
      margin-top: 0;
   }

   #contact_right_heading {
      font-size: 40px;
      width: 100% ;
   }

   .text_contact {
      font-size: 13px;
      font-weight: bold;
   }

   #contact_form {
      background-color: rgba(255, 255, 255, 0.8);
      height: 105% !important;
      padding-top: 5%;
   }

   .input_contact {
      background-color: transparent;
      /*width:90%;*/
      width: 100%;
      border: 0;
      font-size: 13px;
   }

   .border_bottom_primary {
      border-bottom: 2px solid #b29a5d;
   }

   #left_bottom_footer {
    /*padding-left: 10%;
    transform: translateX(45%); */
    display: block;
    width: 5%;
 }


 #copyright {
    font-size: 11px;
    width: 90%;
 }

 #copyright_container{
  width:98%;     
  padding-left: 4%
}

#right_bottom_footer {
    /*padding-right: 10%;
    transform: translateX(-45%);*/
    display: block;
    width: 5%;
 }

 #logo_footer {
    height: 55px;
    margin: 5px;
 }

 .footer_item_list > a {
  font-size: 14px !important;
  text-transform: uppercase;
  color: #001d4d;
  padding-left: 20px;
  font-weight: 700;
  padding-right: 20px;
}

.social_icon_footer {
	background-color: #001d4d !important;
	border-radius: 100%;
	width: 27px;
	height: 27px;
	padding-top: 2px;
}

#text_area_form {
	max-height: 90px;
	min-height: 100px;
}

#agustino_row_2 > div.col.pt-lg-3.col-lg-7.col-md-7 > div > div > ul > li,
#local > div > div > div.col-12.col-lg-7.col-md-7 > div > div.margin_left_text.text_block > ul > li {
	font-size: 10px !important;
	margin-bottom: 10px !important;
}

#contact_form_col_right {
	margin-top: 20px;
	margin-left: 0px;
}

#contact_form_submit {
	font-size: 20px;
	font-weight: 700;
	padding-left: 50px;
	padding-right: 50px;
	height: 41px;
	margin-top: 4%;
}

#local_img {
	width: 100% !important;
}

#localtions_slide {
	margin-top: 0 !important;
}

#location{
	margin-top:17%;
}

.location_slide_title {
	font-size: 20px;
	font-weight: 600;
}
#dot_mobile_locations_separator {
	display: none;
}

#contact_left_info {
	width: 300px;
	padding-left: 35px !important;
}

#left_bottom_footer > hr,#right_bottom_footer > hr {
	height:1px;
}


.heading_secondary_lg {
	font-size: 40px ;
	font-weight: bold;
}

#slide_1_btn_div {
	right: 88%;
	top: 76%;
	width: 42px;
	position: absolute;
}

#about_2_img_col > div {
	overflow: visible !important;
}
a.slide_1_back {
	position: absolute;
	bottom: calc(13% + 30px);
	left: -35px;
	z-index: 1000;
}
a.slide_1_next {
	position: absolute;
	bottom: 13%;
	left: -35px;
	z-index: 1000;
}
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
/*******************************************
 *               1200PX                    *
 *                                         *
 * *****************************************
 */
 @media screen and (min-width: 1200px) {
 	.navbar.navbar-dark.navbar-expand-md.navbar {
 		width: 1064px;
 	}

 	#main-nav{
 		margin-right: 8vw;
 	}

 	#hero {
 		height: 976px;
 		background-image: url(img/Fondo-bienvenidos_2capas@2x.gif);
 	}

 	#hero-logo {
 		padding-top: 26%;
 	}

 	#navbar_brand {
 		width: 212px;
 		font-size: 22px ;
 		padding-top: 10px;
 		padding-bottom: 10px;
 	}

 	.block_primary_text {
 		position: absolute;
 		width: 45%;
 		z-index: 3;
 		left: 49.5vw;
 		top: 16%;
 	}

 	#about_us_img {
 		transform: translate(-15px, -90px);
 	}

 	#agustino_img2_middle {
 		display: block;
 	}

 	.left_decorator {
 		border-left: 2px solid #b29a5d;
 		width: 100%;
 	}

 	.paragraph_text {
 		font-size: 13px;
 		color: #555;
 		padding-bottom: 20px;
 		width: 100% !important;
 	}

 	.top_primary_text {
 		text-transform: uppercase;
 		font-weight: 700;
 		font-size: 12px;
 		margin: 0;
 	}

 	.paragraph_text_white {
 		font-size: 12px !important;
 		margin-top: 25px;
 		width: 97% !important;
 	}

 	#row-arrow {
 		margin-top: 5%;
 	}

 	.para {
 		font-size: 12px;
 		margin-top: 10px;
 		width: 88%;
 		text-align: justify;
 	}

 	#logo {
 		width: 500px;
 	}

 	#about_us_div {
 		height: 385px;
 		position: relative;
 		display: inline-block;
 		width: 100%;
 	}

 	#about_us_button {
 		font-size: 14px;
 		margin-left: 2%;
 		margin-top: 3%;
 	}

 	#agustino_shop_div1 {
 		margin-top: 100px;
 	}

 	#agustino_shop_2_img {
 		transform: translateY(-120px);
 	}

 	#slide_1 > div {
 		height: 555px !important;
 	}

 	#slide_1 {
 		width: 356px;
 		z-index: 2;
 		transform: translateY(-20px);
 	}
 	#about_us_separator {
 		margin: 7px -50px;
 		width: 130px;
 	}

 	#about_us_2_decoration {
 		background: 0 0;
 		transform: translateY(340px);
 		z-index: 1;
 		margin-right: 40px;
 		margin-left:40px;
 	}


 	.separator_margin {
 		margin-right: 70%;
 		width: 135px !important;
 		transform: translateX(-61px);
 	}

 	#about_us_2_text {
 		margin-left: 15%;
 		width: 421px;
 	}

 	#about_2_img_col {
 		transform: translateY(-20%);
 		left: 60%;
 		z-index: 2;
 	}
 	.default_button {
 		font-size: 14px !important;
 	}

 	#contact_form_div {
 		height: 455px;
 		position: absolute;
 		width: 74%;
 		margin-left: auto;
 		margin-right: auto;
 		left: 0;
 		right: 0;
 	}

 	#video_div {
 		border: 3px solid #b29a5d;
 		height: 455px;
 		position: absolute;
 		width: 74%;
 		margin-left: auto;
 		margin-right: auto;
 		left: 0;
 		right: 0;
 	}

 	#movie_bkg_img {
 		width: 100%;
 		display: block;
 	}

 	.heading_secondary {
 		font-size: 35px !important;
 		font-weight: 700;
 	}

 	#agustino_shop_1_text_heading {
 		width: 60% !important;
 	}

 	#contact_right_text_div {
 		margin-top: 15%;
 		margin-left: 90px;
 		width: 360px;
 	}

 	#agustino_shop_1_text {
 		margin-left: 20%;
 		width: 80%;
 	}

 	.text_secondary_title {
 		text-transform: uppercase;
 		font-weight: 700;
 		font-size: 13px;
 		margin: 0;
 	}

 	#agustino_local_img {
 		transform: translateY(-12%);
 		text-align: center;
 	}
 	.wpcf7-form {
 		height: 520px;
 	}
 	.wpcf7-form > p {
 		margin-bottom: 15px;
 	}

 	.text_block_with_list {
 		margin-left: 100px;
 		margin-top: -55px;
 		width: 470px;
 	}

 	#movie_div {
 		width: 100%;
 		margin-top: 30px;
 	}

 	#video_div_img{
 		min-width: 100%;
 	}

 	#about_us_2_text > p.paragraph_text{
 		margin-left: 21%;
 		transform: translateY(-35%);
 	}

 	#about_us_2_decoration2 {
 		background: 0 0;
 		margin-left: 60px;
 		border: 2px solid #b29a5d;
 		width: 100px;
 		height: 327px;
 		z-index: 2;
 		transform: translate(20px, -276px);
 	}

 	#agustino_row_2 {
 		margin-top: -24px;
 	}

 	.block_img_md_right {
 		z-index: -1;
 		display: block !important;
 	}

 	#contact_button {
 		font-size: 16px;
 	}

 	#col_about_us_text {
 		z-index: 1;
 		right: 40%;
 	}

 	.slide_1_img {
 		width: 100% !important;
 		margin-left: 0;
 	}

 	#movie_bkg_img_mobile {
 		display: none;
 	}

 	#agustino_shop_img1 {
 		width: 95%;
 	}

 	#agustino_img2_middle {
 		transform: translateY(0px);
 		margin-top: -300px;
 		width: 375px;
 	}

 	.square_decoration {
 		border: 1px solid #b29a5d !important;
 		height: 230px !important;
 	}

 	#location_div {
 		height: 350px;
 		position: relative;
 		display: inline-block;
 		width: 100%;
 	}

 	.heading_primary {
 		font-size: 48px;
 		font-weight: bold;
 		margin: 0;
 	}

 	#location_block_text {
 		left: 26%;
 		width: 75%;
 	}

 	#location_right_square {
      width: 480px !important;
      height: 150px !important;
      padding-top: 20px;
      padding-left: 30px;
   }

   .arrow_location {
      font-size: 50px;
      margin-right: 10px;
   }

   #location_decoration {
      position: absolute;
      z-index: -1;
      right: 5%;
      left: 5%;
      height: 122% !important;
      top: -12%;
   }

   #locale {
      transform: translateY(-35%);
   }

   #contact_div {
      width: 100%;
      margin-top: 0;
   }

   #contact_right_heading {
      font-size: 50px !important;
      width: 100% !important;
   }

   .text_contact {
      font-size: 13px;
      font-weight: bold;
   }

   #contact_form {
      background-color: rgba(255, 255, 255, 0.8);
      height: 110% !important;
      padding-top: 5%;
   }

   .input_contact {
      background-color: transparent;
      /*width:90%;*/
      width: 100%;
      border: 0;
      font-size: 17px;
   }

   .border_bottom_primary {
      border-bottom: 2px solid #b29a5d;
   }

   #left_bottom_footer {
    /*padding-left: 10%;
    transform: translateX(45%); */
    display: block;
    width: 5%;
 }


 #copyright {
    font-size: 12px;
    width: 90%;
 }

 #copyright_container{
  width:98%;     
  padding-left: 4%
}

#right_bottom_footer {
    /*padding-right: 10%;
    transform: translateX(-45%);*/
    display: block;
    width: 5%;
 }

 #logo_footer {
    height: 55px;
    margin: 5px;
 }

 .footer_item_list > a {
  font-size: 14px !important;
  text-transform: uppercase;
  color: #001d4d;
  padding-left: 20px;
  font-weight: 700;
  padding-right: 20px;
}

.social_icon_footer {
	background-color: #001d4d !important;
	border-radius: 100%;
	width: 27px;
	height: 27px;
	padding-top: 2px;
}

#text_area_form {
	max-height: 90px;
	min-height: 100px;
}

#agustino_row_2 > div.col.pt-lg-3.col-lg-7.col-md-7 > div > div > ul > li,
#local > div > div > div.col-12.col-lg-7.col-md-7 > div > div.margin_left_text.text_block > ul > li {
	font-size: 13px !important;
	margin-bottom: 12px !important;
}

#contact_form_col_right {
	margin-top: 0 !important;
	margin-left: 0px !important;
}

#contact_form_submit {
	font-size: 20px;
	font-weight: 700;
	padding-left: 50px;
	padding-right: 50px;
	height: 41px;
	margin-top: 4%;
}

#local_img {
	width: 100% !important;
}

#localtions_slide {
	margin-top: 0 !important;
}

#location{
	margin-top:17%;
}

.location_slide_title {
	font-size: 20px;
	font-weight: 600;
}
#dot_mobile_locations_separator {
	display: none;
}

#contact_left_info {
	width: 300px;
	padding-left: 75px !important;
}

#left_bottom_footer > hr,#right_bottom_footer > hr {
	height:1px;
}


.heading_secondary_lg {
	font-size: 50px !important;
	font-weight: bold;
}

#slide_1_btn_div {
	right: 88%;
	top: 76%;
	width: 42px;
	position: absolute;
}

#about_2_img_col > div {
	overflow: visible !important;
}
a#slide_1_back {
	position: absolute;
	bottom: calc(13% + 30px);
	left: -35px;
	z-index: 1000;
}
a#slide_1_next {
	position: absolute;
	bottom: 13%;
	left: -35px;
	z-index: 1000;
}
}
